<div fxLayout="column">

    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayoutAlign="center center">
            <div>Password Meter</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <br>

    <div fxLayout="row" fxLayoutAlign="space-around">
        <mat-card fxFlex="50" fxFlex.xs="90">
            <mat-card-title fxLayoutAlign="center center">Avaliador de segurança de senha</mat-card-title>
            
            <div class="content">
                <mat-card-content>
                    <mat-form-field fxFlex="100">
                    <input matInput placeholder="Senha" value="" type="password" (input)="calculatePasswordSecurity($event.target.value)" >
                    </mat-form-field>
                </mat-card-content>

                <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
                
                <mat-card-actions>
                    <div fxFlexOffset="2" fxLayout="row">
                        <span fxFlex="55px" style="padding-top: 8px;"><b> {{ result.score ? result.score : 0  | number:'1.0' }}%   </b></span> 
                        
                        <mat-chip-list [class]="result.levelScore">
                            <mat-chip id="result"><b>{{ result.description ? result.description : 'Muito curta' }}</b></mat-chip>
                        </mat-chip-list>
                    </div>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>

</div>