.mat-chip {
    border-radius: 0px;
}
.mat-chip b {
    padding-left: 20px;
    padding-right: 20px;
}

.result:active {
    left: 0px;
    top: 0px;
    transition-duration: 0ms;
    transform: scale(0);
}

.VERY_WEAK .mat-chip.mat-standard-chip{
    background: red;
}

.WEAK .mat-chip.mat-standard-chip{
    background: yellow;
}

.GOOD .mat-chip.mat-standard-chip{
    background: yellowgreen;
}

.STRONG .mat-chip.mat-standard-chip{
    background: greenyellow;
}

.VERY_STRONG .mat-chip.mat-standard-chip{
    background: green;
}

.content {
    background: rgb(247, 247, 247);
    padding: 20px;
}